*.jl.*.cov
*.jl.cov
*.jl.mem
*_raw.jl
/Manifest.toml
examples/Manifest.toml
examples/Project.toml
examples/data/
/docs/build/
/data/3Ddata/
.vscode
.gitlab-ci.yml
.DS_Store
data/DE-All.1979.2017.daily.nc
examples/data/3Ddata/Africa.era5.PET_PT.2010.nc
examples/data/3Ddata/Africa.era5.snr.2010.nc
examples/data/3Ddata/Africa.era5.sp.2010.nc
examples/data/3Ddata/Africa.era5.ssrd.2010.nc
examples/data/3Ddata/Africa.era5.ssrdc.2010.nc
examples/data/3Ddata/Africa.era5.t2m.2010.nc
examples/data/3Ddata/Africa.era5.t2m_daytime_mean.2010.nc
examples/data/3Ddata/Africa.era5.tp.2010.nc
examples/data/3Ddata/Africa.era5.vpd.2010.nc
examples/data/3Ddata/Africa.era5.vpd_daytime_mean.2010.nc
examples/data/3Ddata/Africa.rgPot.Rpot.2010.nc
examples/data/3Ddata/Africa.seviri.FVC.2010.nc
examples/data/3Ddata/Africa.soilgrids.CLYPPT.7.nc
examples/data/3Ddata/Africa.soilgrids.CLYPPT.mean.nc
examples/data/3Ddata/Africa.soilgrids.OCSTHA.7.nc
examples/data/3Ddata/Africa.soilgrids.OCSTHA.mean.nc
examples/data/3Ddata/Africa.soilgrids.SLTPPT.7.nc
examples/data/3Ddata/Africa.soilgrids.SLTPPT.mean.nc
examples/data/3Ddata/Africa.soilgrids.SNDPPT.7.nc
examples/data/3Ddata/Africa.soilgrids.SNDPPT.mean.nc
examples/data/BE-Vie.1979.2017.daily.nc
examples/data/BE-Vie.2000-2019.nc
examples/data/DE-All.1979.2017.daily.nc
examples/data/outparams.csv
examples/data/test_new_file.json
examples/data/test_table.json
data/DE-All.1979.2017.daily.nc
examples/Manifest.toml
