*.jl.*.cov
*.jl.cov
*.jl.mem
*_raw.jl
/Manifest.toml
/examples/Manifest.toml
/examples/Project.toml
examples/data/
/docs/build/
/data/3Ddata/
.vscode
.gitlab-ci.yml
.DS_Store
data/DE-All.1979.2017.daily.nc
