/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Fonts
 * -------------------------------------------------------------------------- 
 */
 @font-face {
  font-family: JuliaMono-Regular;
  src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}

 .VPHero .clip {
  white-space: pre;
  /* font-size: 24px; */
}
.VPHero .text {
  font-size: 28px;
  line-height: 1.25;
  max-width: 650px;
}
.VPHero .tagline {
  font-size: 24px;
}
:root {
  /* Typography */
  --vp-font-family-base: "Barlow", "Inter var experimental", "Inter var",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* Code Snippet font */
  --vp-font-family-mono: JuliaMono-Regular, monospace;

}

/* 
Disable contextual alternates (kind of like ligatures but different) in monospace, 
which turns `/>` to an up arrow and `|>` (the Julia pipe symbol) to an up arrow as well.  
This is pretty bad for Julia folks reading even though copy+paste retains the same text.
*/
/* Target elements with class 'mono' */
.mono-no-substitutions {
  font-family: "JuliaMono-Light", monospace;
  font-feature-settings: "calt" off;
}

/* Alternatively, you can use the following if you prefer: */
.mono-no-substitutions-alt {
  font-family: "JuliaMono-Light", monospace;
  font-variant-ligatures: none;
}

/* If you want to apply this globally to all monospace text: */
pre, code {
  font-family: "JuliaMono-Light", monospace;
  font-feature-settings: "calt" off;
  white-space : pre-wrap !important;
}

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --julia-blue: rgb(56.475, 87.3, 190.575);
  --julia-purple: rgb(131.4, 77.625, 157.05);
  --julia-red: rgb(179.10, 52.875, 45.0);
  --julia-green: rgb(49.5, 134.1, 33.525);
  --vp-c-brand-light: #DEA958ff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**

/**
 * Component: copy/paste button
 * -------------------------------------------------------------------------- */

 /* :root {
  --vp-icon-copy: url("data:image/svg+xml...");
  --vp-icon-copied: url("data:image/svg+xml...");
} */

/**

 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    -145deg,
    #e4c92a,
    #5edd33,
    #3782b9 80%
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -165deg,
    #c4c2bb 30%,
    #dadd33 30%,
    #e23131
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}


/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}


/**
 * Component: MathJax
 * -------------------------------------------------------------------------- */
mjx-container > svg {
  display: block;
  margin: auto;
}

mjx-container {
  padding: 0.5rem 0;
}

mjx-container {
  display: inline-block;
  margin: auto 2px -2px;
}

mjx-container > svg {
  margin: auto;
  display: inline-block;
}

/**
 * Colors links
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand-1: #292d2f;
  --vp-c-brand-2: #3d8abe;
  --vp-c-brand-3: #487da0;
  --vp-c-sponsor: #ca2971;
  --vitest-c-sponsor-hover: #c13071;
}

.dark {
  --vp-c-brand-1: #DEA958ff;
  --vp-c-brand-2: #F8E895ff;
  --vp-c-brand-3: #d8c980;
  --vp-c-sponsor: #ee4e95;
  --vitest-c-sponsor-hover: #e51370;
}

/* .vitepress/theme/custom.css */

.VPFooter {
  padding: 1rem 0;
}

.VPFooter .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.VPFooter .message,
.VPFooter .copyright {
  display: flex;
  align-items: center;
}

.VPFooter .message {
  margin-right: 1em;
}

.footer-logo {
  height: 4em;
}

.VPFooter .copyright {
  flex-direction: column;
  text-align: center;
}

.VPFooter .copyright span {
  margin-bottom: 0.0em;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .VPFooter .container {
    flex-direction: column;
  }

  .VPFooter .message {
    margin-right: 0;
    margin-bottom: 1em;
  }
}

/* Component: Docstring Custom Block */

.jldocstring.custom-block {
  border: 1px solid var(--vp-c-gray-2);
  color: var(--vp-c-text-1)
}

.jldocstring.custom-block summary {
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  margin: 0 0 8px;
}
.jldocstring.custom-block summary a {
  pointer-events: none;
}